.navbar-brand2 {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.8vw;
    text-decoration: none;
}

.navbarButton {
    margin-right: -30px;
    padding: 0px;
}

.me-free {
    margin-right: 50px;
}

.navLink2 {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-weight: 550;
}

.region {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    border-top: 0.5px solid rgb(189, 189, 189);
    padding: 10px 0;
}

.regionList {
    font-size: clamp(0.75rem, 1.1vw, 1.5vw);
    font-weight: bolder;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    white-space: none;
    max-width: 90%;
}